/* Фон сайта */
body{
    background-color: black;
    background-image: none;
}


/* Фон сайта */

/* Центральная область */
.l-page{
    background-color: black;
    border-left: 1px solid #2b2b2b;
    border-right: 1px solid #2b2b2b;
}
/* Центральная область */

/* Разное */
.subheadline{
    background-color: rgb(15, 15, 15);
  color:white;
}
/* Разное */

/* Поиск */
.l-top_menu-v2 .global-search input,
.l-top_menu-v2 .global-search .search-results .nothing_found, .l-top_menu-v2 .global-search .search-results .search-mode ,
.b-db_entry-variant-list_item > .info .line .key {
    color: #fff;}

.l-top_menu-v2 .global-search input{background-color: #000; border: 1px solid #2b2b2b;}
/* Поиск */
/* шапка сайта */

.l-top_menu-v2 {
  background: black;}
/* AUTO=sticky_menu */ 
@media screen and (min-width: 1025px) { 
    .l-top_menu-v2 { 
        position: sticky; 
        top: 0; 
    } 
    .l-top_menu-v2 .active .submenu { 
        max-height: calc(100vh - var(--top-menu-height)); 
        overflow-y: auto; 
    } 
}
/* шапка сайта */


/* главная страница */
.b-news_wall-topic a .title,body,
.b-catalog_entry .cover .misc span ,
.b-catalog_entry .cover .title {
    color: white;
  }
/* главная страница */


/* профиль */

/* профиль */


/* обсуждения топики */

/* обсуждения топики */

/* Страница с Аниме */
a img .studio-logo{
    background-color: #444444;
}
.b-tag ,
.b-link,
.b-entry-info .line .value,
header.head h1{
    color:#fff;
}
.p-animes-show .studio-logo, .p-mangas-show .studio-logo, .p-ranobe-show .studio-logo {

    background-color: #fff;
  }
  .b-db_entry  .c-about .additional-links .line-container  .link, .b-db_entry  .c-about .additional-links .line-container  a {
    color: white;
  }
/* Страница с Аниме */